#firstLine{
    background-color: black;
    border-bottom: 1px solid rgb(42, 42, 42);
    margin-top: 2%;
    position: fixed;
    z-index: 999;
}
/* .picture img{
    height: 350px;
} */
#secondLine{
    padding-top: 20%;
}
#titlewhite{
    color: white;
    margin-top: -35%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#titleBlack h2{
    color: black;
    margin-top: -25%;
    margin-bottom: -22%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#PictureHeader img{
    width: 100.55%;
    margin-top: -25%;
}

#countProduct{
    position:sticky;
    top:2px;
    border: solid 1px rgb(179, 179, 179);
    height: 50px;
    margin-top: 11.5%;
    width: 100.3%;
    
}
#countProduct h3{
    margin-left: -50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(148, 148, 148);
    font-weight: 100;
    font-size: 17px;
}
#countProductText{
    display: flex;
    width: 1.5%;
    margin-left: 50%;
    justify-content: space-between;
}
#allProducts{
    display: flex;
    flex-flow: row wrap;
    margin-left:9%;
    justify-content: space-between;
    width: 82%;
    margin-top: 12%;
    /* margin-top: 20%; */
}
#navFooter{
    padding-bottom: 16.5%;
}
#degrees{
    padding-top: 10%;
}

@media (max-width: 820px) and (min-width: 375px){
    #firstPicture{
        width: 440px;
        height: 450px;
    }

}