#firstLine{
    background-color: black;
    border-bottom: 1px solid rgb(42, 42, 42);
    margin-top: -12%;
    position: fixed;
    z-index: 999999;
}
#navFooter{
    padding-bottom: 16.5%;
}
#allProducts{
    display: flex;
    flex-flow: row wrap;
    margin-left:9%;
    justify-content: space-between;
    width: 82%;
    margin-top: 12%;
    /* margin-top: 20%; */
}
#basketDiv{
    margin-top: -12%;
   
}
section h2{
    margin-top: 12%;
    margin-left: 80%;
    padding-top: 5%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: 300;
}
#allProducts{
    margin-top: -1%;
}
/* #overlay{
    margin-top: 10%;
} */